body{
    background-color: rosybrown;
}
/* h1{
    text-align: center;
}
table{
    width: 500px;
    border-collapse: collapse;
    border-spacing:5px 2px;
        margin:10px auto;
        empty-cells: hide;
}
td,th{
    padding: 5px;
    border: 1px solid grey;
}
tr.even{
    background-color: royalblue;

}
tr:hover{
    background-color: rgb(104, 141, 250);
    cursor: pointer
} */